@import "tailwindcss";

body {
  background-color: #19191f;
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  color: #fff;
  margin-top: 2vh;
  margin-left: 2vw;
}

.exercises {
  background-color: #2d2d2d;
  width: 80%;
  margin-top: 2%;
}

.exercise {
  background-color: #3b2a75;
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.exercise-info {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
}

.set {
  font-weight: 500;
  color: #fff;
  width: 10vw;
}
