/* Close Button Styles */
.close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(38, 38, 38, 0.5);
  border-radius: 50%;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-button:hover {
  background-color: #3b2a75;
  color: white;
  transform: scale(1.05);
}

.close-button:active {
  transform: scale(0.95);
}

.modalform::-webkit-scrollbar {
  width: 8px;
}

.modalform::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark gray background for the track */
  border-radius: 4px;
}

.modalform::-webkit-scrollbar-thumb {
  background: #4b5563; /* Medium gray for the thumb */
  border-radius: 4px;
}

.modalform::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Lighter gray on hover */
}
